@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,200&display=swap');
.navegacion{
  background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,116,1) 35%, rgba(0,212,255,1) 100%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
nav ul{
  display: flex;  
}
nav ul li{
  list-style: none;
  margin-right: 1rem;
}
nav ul li a{
  text-decoration: none;
 color :rgb(177, 245, 239) ; 
font-size: 1.2rem;
font-weight: bold ;
padding: 0.2rem 0.6rem;
}

.btn-buscar{
  display: flex;
}
.inputText{
  outline: none;
  border:1px solid black;
  border-radius: 2rem 0 0 2rem;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  color: rgb(74, 83, 109);
  background-color: aqua;
  box-shadow: inset 0 5px 10px  lightblue;
}
.inputText::placeholder{
  color: rgb(32, 231, 238);
}
.btn-buscar button{
  background-color: rgb(112, 237, 241);
  /*box-shadow: inset 5px 10px rgb(31, 31, 48);*/
  padding: 0.2rem 0.5rem;
  border-radius: 0 2rem 2rem 0;
 /* color: rgb(242, 243, 243);*/
  font-size: 1rem;
  outline: none;
  border: 1px solid rgb(28, 34, 34);
}

























/*.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    display:flex;
  }
  .botones{
    display:flex;
    flex-direction:  row-reverse ;
    border: 5px solid red;
  }
  .Genero{
    display:flex;
    flex-direction:  row-reverse ;
  }
  
  /* button styling */
 /* .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }*/
 